:root {
	--bg: #1B2021;
	--fg: #FBFBFB;
	--cta: #CF754E;

	--card-bg: #0B1011;
	--card-border: #07080980;

	--max-body-width: 48rem;
	--max-header-width: 24rem;
	--min-body-width: 280px;
	--min-header-height: 360px;

	--outline: 2px solid white;
}

html {
	font-family: "Faculty Glyphic", sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1.5px;

	background-color: var(--bg);
	color: var(--fg);

	scroll-behavior: smooth;
}

* {
	scroll-margin-top: 2rem;
}

a {
	color: var(--cta);
}

body {
	margin: 0;
	padding: 0;
	min-width: var(--min-body-width);
}

#cta_header {
	width: 100%;
	height: 100vh;
	height: 100svh;
	min-height: var(--min-header-height);

	padding: 1.5rem;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;

	background-image:
		linear-gradient(#10101070 0 0),
		url("./static/header.webp");
	background-position: center;
	background-size: cover;
}

#cta_header p {
	margin: 0;
	max-width: var(--max-header-width);
}

.cta {
	padding: 0.75rem;
	border-radius: 999vw;

	flex-shrink: 0;

	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;

	background-color: var(--cta);
	color: var(--fg);
	font-weight: 500;
	text-wrap: nowrap;
	min-width: max-content;
}

.cta:hover,
.cta:focus {
	background-color: color-mix(in lab, var(--cta), 10% white);
	outline: var(--outline);
}

.cta img {
	width: 1.5rem;
	aspect-ratio: 1/1;
}

.imp::before {
	content: '!';
	padding-right: 0.25rem;
	font-weight: 700;
	color: var(--cta);
}

.hint {
	opacity: 80%;
	font-size: 80%;
}

main {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	min-width: var(--min-body-width);
	max-width: var(--max-body-width);

	padding: 1.5rem;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

#cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.card {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

	height: 12rem;

	background: var(--card-bg);
	border: 2px solid var(--card-border);
	border-radius: 1rem;
	overflow: hidden;
}

.card_image {
	aspect-ratio: 1/1;
	cursor: pointer;
}

.card_text {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 1rem;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

summary::marker {
	font-size: 150%;
}

section h1 {
	align-self: flex-start;
}

summary h1,
summary h2,
summary h3 {
	display: inline;
}

#contacts {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

#contacts .cta>img {
	border-radius: 999vw;
}

#gallery {
	position: fixed;
	inset: 0;
	z-index: 99;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	cursor: w-resize;

	display: flex;
	flex-direction: row;
	gap: 1rem;

	background-color: color-mix(in srgb, var(--bg) 70%, transparent);
	backdrop-filter: blur(1rem);
}

#gallery img {
	scroll-snap-align: center;
	scroll-snap-stop: always;
	object-fit: scale-down;

	pointer-events: none;
	user-select: none;

	max-width: 100%;
	max-height: 100%;
}

#gallery img:first-child {
	margin-left: 25%;
}

#gallery img:last-child {
	margin-right: 25%;
}

footer {
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	#cta_header {
		flex-direction: column;
	}

	#cards {
		align-items: center;
	}

	.card {
		width: min(16rem, 100%);
		flex-direction: column;
		height: unset;
	}
}
